/* Logo */
.sign-logo {
  height: 150px;
}
@media only screen and (max-width: 480px) {
  .sign-logo {
    height: 120px;
  }
  .swiper-button-prev {
    left: 85vw;
  }
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-vertical .swiper-button-next {
  right: 2.5vw;
}
.swiper-vertical .swiper-button-prev {
  left: 93.5vw;
}
.swiper-vertical .swiper-button-next,
.swiper-vertical .swiper-button-prev {
  transform: rotate(90deg);
  transform-origin: center;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.swiper-vertical .swiper-button-next::after,
.swiper-vertical .swiper-button-prev::after {
  font-size: 5vh;
  color: #fff;
}
.swiper-vertical .swiper-button-prev {
  /* top: calc(var(--swiper-navigation-size) / 2); */
  top: 40%;
}
.swiper-vertical .swiper-button-next {
  top: auto;
  /* bottom: calc(var(--swiper-navigation-size) / 2); */
  bottom: 40%;
}
@media only screen and (max-width: 780px) {
  .swiper-vertical .swiper-button-prev {
    left: 91vw;
  }
}

@media only screen and (max-width: 480px) {
  .swiper-vertical .swiper-button-prev {
    left: 85vw;
    top: 66%;
  }
  .swiper-vertical .swiper-button-next {
    top: auto;
    bottom: 12%;
  }
}

/* textarea */
.text-area {
  width: 58%;
  height: 25vh;
  margin-bottom: 20px;
  outline: none;
  border: 1.5px solid black;
  border-radius: 4px;
  padding: 6px;
  font-family: 'Poppins', sans-serif;
}
